/* google fonts */
.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

header {}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
}
header .logo {}